body {
    text-align: center;
}

#dealerHand, #playerHand {
    text-align: left;
    width: 800px;
    margin: auto;
}

#dealerTotal, #playerTotal {
    padding: 15px;
}

#state {
    height: 25px;
    margin: 5px;
}

.card {
    text-align: center;
    background-color: white;
    font-size: 72pt;
    border: solid 1px black;
    margin: 10px;
    width: 100px;
    height: 150px;
}

.suit {
    font-size: 30pt;
    margin-top: -15px;
}

.HEARTS, .DIAMONDS {
    color: red;
}

.SPADES, .CLUBS {
    color: black;
}